
.header {
  text-align: left;
  margin-left: 20px;
}

.form-item {
  padding: 10px 20px;

}

.form-item label {
  margin-right: 5px;
}

.error-info {
color: red;
margin-left: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.col {
  padding-left: 10px;
  padding-right: 10px;
}